
<div class="ekart--product--container">
    <!-- <img [src]="product.pImage"> -->


    <!-- <p>Name : {{product.name}}</p>
    <p>Price : {{product.price}}</p>
    <p>Color : {{product.color}} </p>
    <p>Discounted price: {{getDiscountPrice().toFixed(2)}}</p>
    <p>{{product.instock >0 ?'only '+ product.instock +' items left':'Not in stock'}}</p>
    <button [disabled]="!(product.instock)">Buy Now</button>

    <button (click)="decrementCartValue()">-</button>
    <span>{{addToCart}}</span>
    <button (click)="incrementCartValue()">+</button> -->

    <app-search (searchTextChanged)="setSearchText($event)"></app-search>
    <app-product-list [searchText]="searchText" #productListComponent></app-product-list>
    <app-product-detail *ngIf="productListComponent.selectedProduct" [productListComp]="productListComponent">
    </app-product-detail>

<div class="ekart-featured-products">
    <div class="ekart-featured-product-heading">
        <h1>Latest Arrival in Popular Brands</h1>
    </div>

    <div class="ekart-featured-product-item">
        <h3 class="title">New Arrivals in Nike</h3>
        <p class="description">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam, odit!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam, odit!
        </p>
        <button class="call-to-action">Learn More</button>
    </div>
    <div class="ekart-featured-product-item">
        <h3 class="title">New Arrivals in Nike</h3>
        <p class="description">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam, odit!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam, odit!
        </p>
        <button class="call-to-action">Learn More</button>
    </div>
    <div class="ekart-featured-product-item">
        <h3 class="title">New Arrivals in Nike</h3>
        <p class="description">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam, odit!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam, odit!
        </p>
        <button class="call-to-action">Learn More</button>
    </div>
</div>

</div>


<!-- <input [value]="name"> -->
<!-- <input  (input)="onNameChange($event)" > -->

<!-- <p>Name={{name}}</p> -->
